<div class="container">

  <h1 class="center">Profile</h1>
  {{#if yay}}

  <body onload="M.toast({html: '{{yay}}'})">

  </body>
  {{/if}}
  {{#if msg}}

  <body onload="M.toast({html: '{{msg}}'})">

  </body>
  {{/if}}
  <div class="row">
    <div class="col margin-sm">
      <a class="btn waves-effect light-blue lighten-1" href="/">Back
        <i class="material-icons left">arrow_back</i>
      </a>
    </div>
    <div class="col margin-sm ">
      <form action="/logout" method="POST">
        <button class="btn waves-effect light-blue lighten-1">Logout
          <i class="fas fa-sign-out-alt right"></i>
        </button>
      </form>
    </div>

  </div>
  <div class="divider"></div>
  <div class="row ">
    <br>
    <div class="col  w-400">
      <img src="{{currentUser.image}}" alt="user image" class="responsive-img z-depth-2 border-radius">
    </div>
    <div class="col">
      <div class="row">
        <div class="col">

        <p class="valign-wrapper larger">
          <i class="fas fa-user prefix"></i>
          <span> Name: {{currentUser.name}}</span>
        </p>
        <p class="valign-wrapper larger">
          <i class="fas fa-at prefix"></i>
          <span> Email: {{currentUser.username}}</span>
        </p>
        <p class="valign-wrapper larger">
          <i class="fas fa-utensils prefix"></i>
          <span> Position: {{currentUser.position}}</span>
        </p>
        </div>
      </div>
      <div class="row">
        <div class="col margin-sm ">
          <a class="btn waves-effect amber darken-1" href="/profile/edit">Edit profile
            <i class="material-icons right">edit</i>
          </a>
        </div>
        <div class="col margin-sm ">

                    <!-- Modal Trigger -->
          <a class="btn waves-effect waves-light red darken-1 modal-trigger" href="#modal-profile-delete">Delete Profile
            <i class="material-icons right">delete_forever</i>
          </a>

        </div>
      </div>
      <div class="row margin-sm">
        <div class="col">

        <a href="/calculator" id="calculator-button" class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">

  {{#each user.reports}}
  {{#>_report this}}
  Something went wrong. Report partial not found
  {{/_report}}

  {{/each}}
  </div>

</div>

<!-- Modal Structure -->
<div id="modal-profile-delete" class="modal">
  <div class="modal-content">
    <h4>Are you sure you want to delete your profile?</h4>
    <p>This action cannot be undone. Once deleted this profile together with the reports refferences will be foverer lost.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Go back</a>
    <form action="/profile/delete/{{currentUser._id}}" method="POST" id="modalForm">
      <button class="btn waves-effect waves-light red darken-1">Delete Profile
        <i class="material-icons right">delete_forever</i>
      </button>
    </form>
  </div>
</div>